<mat-card>
  <h3 class="center-text">
    Add Supplier
  </h3>

  <form>
          <div class="example-container">
            <form>
              <div class="example-container">
  
                      <mat-form-field>  
                              <input   matInput placeholder="Supplier Name" type="text">  
                      </mat-form-field>
                      <mat-error>  
                              <span>Please enter Quentity</span>  
                      </mat-error>
  
                      <mat-form-field>
                              <input matInput type="date" placeholder="Bank Account" >
                             
                      </mat-form-field>
                      <mat-error>  
                              <span >Please select Date</span>  
                      </mat-error>
  
                      <mat-form-field>
                              <input matInput type="text" placeholder="NIC" >
                             
                      </mat-form-field>
                      <mat-error>  
                              <span >Please select Date</span>  
                      </mat-error>

                      <mat-form-field>
                        <input matInput type="text" placeholder="Address" >
                       
                      </mat-form-field>
                      <mat-error>  
                        <span >Please select Date</span>  
                      </mat-error>

                      <mat-form-field>
                        <input matInput type="text" placeholder="Email" >
                       
                      </mat-form-field>
                      <mat-error>  
                        <span >Please select Date</span>  
                      </mat-error>

                      <mat-form-field>
                        <input matInput type="text" placeholder="Contact" >
                       
                      </mat-form-field>
                      <mat-error>  
                        <span >Please select Date</span>  
                      </mat-error>

                      <mat-form-field>
                        <input matInput type="text" placeholder="Item" >
                       
                      </mat-form-field>
                      <mat-error>  
                        <span >Please select Date</span>  
                      </mat-error>
          
                      
          
                      <button mat-raised-button color="accent">Submit</button>
  
              </div>
      </form>
          </div>
  </form>

</mat-card>
