mat-card {
    width: 90%;
    margin:auto;
    margin-top: 30px;
    display: block;
}

.center-text {
    margin: auto;
    display: block;
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 80%;
  }
.fullLength{
    width: 80%;
    padding: 0.5%
}