<mat-card>
<div class="container">
  <form autocomplete="off" #createSite="ngForm" novalidate>
    <h5>Site Registration</h5>
    <div class="row">
      <mat-form-field class="fullLength">
        <input matInput placeholder="siteName" class="fullLength" name="studentId" [(ngModel)]="site.siteName"
          #studentId="ngModel" id="studentId" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="fullLength">
        <input matInput placeholder="address" class="fullLength" name="studentId" [(ngModel)]="site.address" #studentId="ngModel"
          id="studentId" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="fullLength">
        <input matInput placeholder="items" class="fullLength" name="studentId" [(ngModel)]="site.items" #studentId="ngModel"
          id="studentId" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="fullLength">
        <input matInput placeholder="storageCapacity" class="fullLength" name="studentId" [(ngModel)]="site.storageCapacity"
          #studentId="ngModel" id="studentId" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="fullLength">
        <input matInput placeholder="currentCapacity" class="fullLength" name="studentId" [(ngModel)]="site.currentCapacity"
          #studentId="ngModel" id="studentId" required>
      </mat-form-field>
    </div> 

    <button mat-raised-button class="btn btn-primary btn-round" type="submit" (click)="onSubmit(createSite)">Submit</button>
  </form>

</div>

</mat-card>