<mat-card>
    <mat-grid-list cols="3" rowHeight="8:1">
      <mat-grid-tile>
        <button mat-icon-button (click)="goBack()">
            <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
          </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <h1 class="center-text">
          {{title}}
        </h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <button *ngIf="empId !== undefined" mat-raised-button (click)="removeEmployee()">Remove Employee</button>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="example-container center-text">
  
      <mat-form-field *ngIf="empId === undefined">
        <input matInput placeholder="Employee ID" [(ngModel)]="employee.empId">
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Select Employee Type" [(ngModel)]="employee.type">
          <mat-option value="Authorized Employee">Authorized Employee</mat-option>
          <mat-option value="Site Manager">Site Manager</mat-option>
          <mat-option value="Procurement Staff">Procurement Staff</mat-option>
          <mat-option value="Senior Member of Staff">Senior Member of Staff</mat-option>
          <mat-option value="Management">Management</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="employee.firstName">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="employee.lastName">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="employee.address">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="employee.email">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Contact No." [(ngModel)]="employee.contactNo">
      </mat-form-field>
  
      <button mat-raised-button (click)="addOrUpdateEmployee()">{{buttonText}}</button>
    </div>
  </mat-card>